<div id="content" class="container">
  <header id="header" class="page-header">
      <h1>{{title}}</h1>
  </header>
  <nav id="nav" class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Crear producto</a></li>
    </ul>
  </nav>
  <section class="main" class="col-lg-12">
    <router-outlet></router-outlet>
  </section>
  <footer class="col-lg-12">
    <span>Curso Angular 4</span>
  </footer>
</div>



